.container {
    background-color: #c01045;
    width: 40vw;
    max-width: 550px;
    border-radius: 2.5vw;
    border: 2px solid grey;
    padding: 2.5vw;
}
.display {
    margin-top: 2.5vw;
    height: 10vw;
    width: auto;
    border-radius: 5vw;
    color: white;
    background-color: #322c2d;
    box-shadow: .1vw .1vw #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 2.5vw;
    font-size: 5vw;
}

.logo {
    width: 8vw;
}

.Display {
    padding-bottom: 2.5vw;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.one {
    width: 8.75vw;
}

.three{
    width:30vw;
}

.row {
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.height{
    height: 44vw;
}

.button {
    height: 8vw;
    width: 8vw;
    margin: .4vw;
    border-radius: 4vw;
    font-size: 3.5vw;
    background-color: #0acece;
    color: #d8dac3;
}

.zero {
    width:18.8vw;
}

.med_color {
    background-color:  #0a90ce;
}

.dk_color {
    background-color: #2e3c8a;
}

